#index-page {
  background:#354F52;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #de8f3f;
  font-size: 20px;
}

.brand-title {
  font-size: 2rem;
  margin: .5rem;
  color:#96E2ED;
}

.nav-bar {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links ul {
  display:flex;
}

.navbar-links li {
  list-style: none;
}

.nav-link {
  font-size: 1.5rem;
  color:#96E2ED;
  text-decoration: none;
  transition: 0.5s ease;
  padding: 1rem;
  display: block;
}

.nav-link:hover {
  color:#FBF7F4;
}

.page-logo {
  margin: 100px auto 25px;
  text-align: center;
}

.homepage-logo {
  width: 35%;
}

.favorite-system-selector {
  text-align: center;
  color: #de8f3f;
}

.system-preference {
  font-size: 1rem;
  text-align: center;
  color: #de8f3f;
  margin-top: 3%;
  }

.index-system-image {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* .index-system-image:hover {
  opacity: .25;
} */

.footer {
  color: #de8f3f;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 150px;
}

.footer a {
  color: #de8f3f;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer a:hover {
  color: #96E2ED;
}

#about-page {
  background: #354F52;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-us-section {
  color:#de8f3f;
  text-align: center;
 width: 75%;
  margin: 50px auto 75px;
}

.about-this-site-links {
  color:#96E2ED;
  text-decoration: none;
  transition: 0.5s ease;
}

.about-this-site-links:hover {
  color:#FBF7F4;
}

#contact-page {
  background: #354F52;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-form {
  color:#de8f3f;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.contact-form-message {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.submit-button {
  display:flex;
  justify-content: center;
  margin-top: 15px;
}

#learning-tool-page {
  background:#354F52;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #imperial-system-page {
  background:#354F52;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.imperial-system {
  text-align: center;
  color: #de8f3f;
}

.imperial-history {
  font-size: 1rem;
  text-align: center;
  color: #de8f3f;
  margin-top: 3%;
  }

  .imperial-history-info {
    width: 50%;
    height: 50%;
    background: #FBF7F4;
    margin: 5% auto 5%;
  }

#metric-system-page {
  background:#354F52;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.metric-calculator {
  color:#de8f3f;
  width: 25%;
  height: 25%;
  margin: 10% auto 5%;
  display: flex;
  flex-direction: column;
}

.metric-calculator p {
  color: #de8f3f;
  border: 1px solid #de8f3f;
}

.metric-output {
  color:#de8f3f;
  width: 25%;
  height: 25%;
  margin: 10% auto 5%;
  display: flex;
  flex-direction: column;
}

.metric-output p {
  color: #de8f3f;
  border: 1px solid #de8f3f;
}

.metric-system {
  text-align: center;
  color: #de8f3f;
}

.metric-history {
  font-size: 1rem;
  text-align: center;
  color: #de8f3f;
  }

  .metric-history-info {
    width: 50%;
    height: 50%;
    background: #FBF7F4;
    margin: 5% auto 5%;
  }

#calculator-section {
  display: flex;
  flex-direction: row;
}

.arrow {
  margin-top: 9%;
  margin-bottom: 9%;
}

.character {
  color: #de8f3f;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.SW-iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #de8f3f;
}
.SW-iframe a {
  color: #96E2ED;
  text-decoration: none;
  transition: 0.5s ease;
}
.SW-iframe a:hover {
  color: #FBF7F4;
}

.favorite-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #de8f3f;
}
.favorite-form a {
  color: #96E2ED;
  text-decoration: none;
  transition: 0.5s ease;
}
.favorite-form a:hover {
  color: #FBF7F4;
}

#character-table {
  color:#de8f3f;
  flex-direction: column;
  display: flex;
  text-align: center;
}


.toggle-button {
  position: absolute;
  top: .50rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color:#96E2ED;
  border-radius: 10px;
}
.in-progress {
  color:#de8f3f;
  font-size: 5rem;
  text-align: center;
  margin-top: 18%;
  margin-bottom: 17%;
}

@media (max-width: 280px) {
  .toggle-button {
    display: flex;
    right: .7rem;
    top: .25rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links.active {
    display: flex;
  }
  .homepage-logo {
    width: 75%;
  }
  .metric-img {
    width: 75%;
  }
  .imperial-img {
    width: 75%;
  }
  .arrow {
  display: none;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .brand-title {
    font-size: 1.4rem;
  }
.system-preference {
font-size: .5rem;
text-align: center;
color: #de8f3f;
margin-top: 25%;
}

}

@media (max-width: 480px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links.active {
    display: flex;
  }
  .homepage-logo {
    width: 50%;
  }

  .metric-img {
    width: 75%;
  }
  .imperial-img {
    width: 75%;
  }
  .arrow {
  display: none;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .about-us-section{
    width: 100%;
  }
}
@media (max-width: 540px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links.active {
    display: flex;
  }
  .homepage-logo {
    width: 50%;
  }
  .metric-img {
    width: 75%;
  }
  .imperial-img {
    width: 75%;
  }
  .arrow {
  display: none;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links.active {
    display: flex;
  }
  .homepage-logo {
    width: 50%;
  }
  .metric-img {
    width: 75%;
  }
  .imperial-img {
    width: 75%;
  }
  .contact-form {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links.active {
    display: flex;
  }
  .homepage-logo {
    width: 50%;
  }
  .metric-img {
    width: 75%;
  }
  .imperial-img {
    width: 75%;
  }
  .contact-form {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links.active {
    display: flex;
  }
  .homepage-logo {
    width: 50%;
  }
  .metric-img {
    width: 75%;
  }
  .imperial-img {
    width: 75%;
  }
}


